@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: adorn-smooth-garland, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
}


.content-box, .about {
  padding: 2rem;
}

#app {
  max-width: 100%; /* Changed: 1280px */
  margin: 0 auto;
  height: max-content;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-darkgrey);
  font-weight: 600;
  font-size: 20px;
  transition: 0.4s;
}


/* Portfolio cards */

.about {
  min-height: 100%;
 }

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; 
}
.portfolio-item {
  margin: 2rem;
  border-radius: 12px; 
  border: 1px solid var(--vt-c-beige-dark);
  box-shadow: 5px 5px 5px var(--vt-c-shadow-beige); 
  max-width: 300px;
  background-color: var(--vt-c-white);
}

.card-description-box {
  height: fit-content;
  max-width: 300px;
  padding: 0px 20px;
}

.card-description-box h2:hover {
  color: var(--vt-c-blue);
  text-shadow: 1px 1px 1px #13424c;
}

.card-description-box .card-headline {
  font-size: 20px;
  padding-top: 10px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-shadow: none;
}

.card-description-box p {
  font-size: 14px;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.imgbox {
  max-width: 300px;
  height: 200px;
  display: flex;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 12px 12px 0 0;
}


.link-box {
  height: 100px;
  padding: 10px 20px;
}

.link-box a {
  text-shadow: 1px 1px 2px var(--vt-c-shadow-blue);
}

.link-box i {
  font-size: 24px!important;
}

.icon-link {
  padding-right: 0.5rem;
}

.link-box a:hover {
  color: var(--vt-c-blue);
  text-shadow: 1px 1px 2px var(--vt-c-shadow-blue);
}

.portfolio-item .btn-box {
  padding-bottom: 20px;
}

.category {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--vt-c-beige-dark);
  border-left: 2px solid var(--vt-c-beige-dark);
}

.portfolio-item a {
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 1px var(--vt-c-shadow-blue);
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--vt-c-blue);
  box-shadow: 1px 1px 3px var(--vt-c-shadow-beige);
  border: 2px solid var(--vt-c-blue);
  padding: 5px 10px;
  border-radius: 50px;
  text-shadow: 1px 1px 2px var(--vt-c-shadow-blue);
}

button:hover {
  background-color: var(--vt-c-beige-light);
  color: var(--vt-c-white);
  border-color: var(--vt-c-beige-light);
  text-shadow: 1px 1px 2px var(--vt-c-darkgrey);
}

.hyphen {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Media Queries */

@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1285px) {
  a {
    font-size: 25px;
  }
}


@media (min-width: 1024px) {
  body {
    display: flex;
   /*  place-items: center; */  /* Changed */
  }

  #app {
    display: flex; /* Changed: grid */
    flex-direction: column; /* Added */
    
    /* grid-template-columns: 1fr; */ /* Changed */
    width:100%; /* Added */
  }
}

@media (max-width: 1000px) {
  a {
    font-size: 25px;
  }

  nav {
    padding-bottom: 1rem;
  }

  .logo {
    padding-top: 1rem;
  }
}
